<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AoC 2024 | <%= dayName %></title>
    </head>
    <body class="source-code-pro-400 bg-neutral-900 text-white">
        <script src="day.js"></script>
        <script src="<%= dayModule %>.js"></script>

        <header class="flex flex-col items-center p-6 sticky top-0 bg-neutral-900 z-10">
            <div class="flex flex-row w-full items-center">
                <div class="flex flex-row grow items-start">
                    <h1 class="text-3xl font-bold text-green-700">
                        <a href="index.html" class="text-green hover:text-green-300 hover:underline">
                            Advent of Code 2024
                        </a>
                        -
                        <a href="https://adventofcode.com/2024/day/<%= dayIndex %>" class="text-green-400 hover:text-green-300 hover:underline">
                            <%= dayName %>
                        </a>
                    </h1>
                </div>
                <div class="flex flex-row items-end">
                    <div id="settings-toggle" class="flex flex-row items-center transition-all cursor-pointer hover:scale-110">
                        <img src="assets/gear.svg" alt="O" width="24" height="24" class="ml-4">
                    </div>
                </div>
            </div>
            <div id="settings-menu" class="hidden flex flex-col items-center space-y-4 w-full bg-neutral-800 p-4 rounded-lg shadow-lg mt-4">
                <div class="flex flex-row items-center justify-between w-full">
                    <h2 class="text-xl text-green-400">Settings</h2>
                    <div id="settings-close" class="cursor-pointer">
                        <img src="assets/close.svg" alt="X" width="24" height="24">
                    </div>
                    <script>
                        const settingsToggle = document.getElementById("settings-toggle");
                        const settingsMenu = document.getElementById("settings-menu");
                        const settingsClose = document.getElementById("settings-close");
                        settingsToggle.addEventListener("click", () => {
                            settingsMenu.classList.toggle("hidden");
                        });
                        settingsClose.addEventListener("click", () => {
                            settingsMenu.classList.add("hidden");
                        });
                    </script>
                </div>
                <hr class="w-full border border-gray-600 my-4">
                <div class="flex flex-row items-center w-full space-x-4">
                    <label for="settings-speed" class="text-lg">Speed</label>
                    <input id="settings-speed" type="range" min="0" max="10" value="0" class="w-48">
                    <span id="settings-speed-value" class="text-lg">1x</span>
                    <script>
                        const speed = document.getElementById("settings-speed");
                        const speedValue = document.getElementById("settings-speed-value");

                        speed.addEventListener("input", () => {
                            speedValue.textContent = `${day.computeSpeed(parseInt(speed.value))}x`;
                        });
                    </script>
                </div>
            </div>
        </header>

        <main class="h-full w-[50vw] mx-auto p-6">
            <section class="flex flex-col bg-neutral-800 p-6 rounded-lg shadow-lg mb-4 h-[75vh]">
                <h2 class="text-xl text-green-400 mb-4">Part1 Solution</h2>
                <div id="part1" class="flex flex-col mt-8 w-full grow">
                    <div id="part1-input" class=" flex flex-col items-center space-y-4 w-full grow h-[50vh]">
                        <div id="part1-description" class="flex flex-col items-start space-y-4 w-full">
                            <!-- Description goes here -->
                        </div>
                        <textarea id="part1-textarea" class="w-full p-4 text-center bg-neutral-700 text-white border border-gray-300 focus:outline-none focus:border-blue-500 rounded" placeholder="Input"></textarea>
                    </div>
                    <div id="part1-solution" class="hidden flex flex-col items-center space-y-4 w-full grow h-[50vh]">
                        <!-- Solution content goes here -->
                    </div>
                    <div id="part1-control" class="flex flex-col items-center space-y-4 w-full grow mt-auto">
                        <div class="flex space-x-4 mt-4">
                            <button id="part1-solve" class="p-2 bg-green-500 text-white rounded hover:bg-green-600 transition-all w-32">Solve</button>
                            <button id="part1-step" class="p-2 bg-yellow-500 text-white rounded hover:bg-yellow-600 transition-all w-32">Step</button>
                            <button id="part1-reset" class="p-2 bg-red-500 text-white rounded hover:bg-red-600 transition-all w-32">Reset</button>
                        </div>
                    </div>
                </div>
            </section>

            <section class="flex flex-col bg-neutral-800 p-6 rounded-lg shadow-lg mb-4 min-h-[50vh]">
                <h2 class="text-xl text-green-400 mb-4">Part2 Solution</h2>
                <div id="part2" class="flex flex-col mt-8 w-full grow">
                    <div id="part2-input" class=" flex flex-col items-center space-y-4 w-full grow h-[50vh]">
                        <div id="part2-description" class="flex flex-col items-start space-y-4 w-full">
                            <!-- Description goes here -->
                        </div>
                        <textarea id="part2-textarea" class="w-full p-4 text-center bg-neutral-700 text-white border border-gray-300 focus:outline-none focus:border-blue-500 rounded" placeholder="Input"></textarea>
                    </div>
                    <div id="part2-solution" class="hidden flex flex-col items-center space-y-4 w-full grow h-[50vh]">
                        <!-- Solution content goes here -->
                    </div>
                    <div id="part2-control" class="flex flex-col items-center space-y-4 w-full grow mt-auto">
                        <div class="flex space-x-4 mt-4">
                            <button id="part2-solve" class="p-2 bg-green-500 text-white rounded hover:bg-green-600 transition-all w-32">Solve</button>
                            <button id="part2-step" class="p-2 bg-yellow-500 text-white rounded hover:bg-yellow-600 transition-all w-32">Step</button>
                            <button id="part2-reset" class="p-2 bg-red-500 text-white rounded hover:bg-red-600 transition-all w-32">Reset</button>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="p-6 text-center text-gray-400">
            <p>
                Advent of Code is a challenge by
                <a href="https://adventofcode.com" class="text-blue-400 hover:text-blue-300 hover:underline">
                    Eric Wastl
                </a>.
            </p>
        </footer>

        <script>
            const module = <%= dayModule %>;

            const part1 = new day.Part("part1");
            part1.textareaInput.value = module.DEFAULT_INPUT_PART1;
            const part1Solution = new module.Part1Solution(part1.textareaInput.value);
            const part1Animator = new module.Part1Animator(part1.inputDiv, part1.solutionDiv);
            const animator1 = new day.Animator(part1Solution, part1Animator);
            part1.textareaInput.onchange = () => part1Solution.setInput(part1.textareaInput.value);
            part1.solveButton.onclick = () => animator1.solve();
            part1.stepButton.onclick = () => animator1.step();
            part1.resetButton.onclick = () => animator1.reset();

            const part2 = new day.Part("part2");
            part2.textareaInput.value = module.DEFAULT_INPUT_PART2;
            const part2Solution = new module.Part2Solution(part2.textareaInput.value);
            const part2Animator = new module.Part2Animator(part2.inputDiv, part2.solutionDiv);
            const animator2 = new day.Animator(part2Solution, part2Animator);
            part2.textareaInput.onchange = () => part2Solution.setInput(part2.textareaInput.value);
            part2.solveButton.onclick = () => animator2.solve();
            part2.stepButton.onclick = () => animator2.step();
            part2.resetButton.onclick = () => animator2.reset();

            for (const el of module.DESCRIPTION_PART1) {
                part1.descriptionDiv.appendChild(el);
            }

            for (const el of module.DESCRIPTION_PART2) {
                part2.descriptionDiv.appendChild(el);
            }
        </script>
    </body>
</html>

